.content {
    margin: 10px;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: relative;   
}

.patientInfo {
    color: white;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: left;
    opacity: 0.8;
    font-size: 14px;
}

.container {
    height: 500px;
    width: 500px;
    color: white;
    position: absolute;
    text-align: left;
    border: white dashed 1.5px;
}

.studyInfo {
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: left;
    opacity: 0.8;
    font-size: 14px;
}

.imageInfo {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;
    opacity: 0.8;
    font-size: 14px;
}

.toolInfo {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: left;
    opacity: 0.8;
    font-size: 14px;
}